page-store-detail {
    ion-segment {
        display: block;
        white-space: nowrap;
        font-size: 0;
        overflow: auto;

        &::-webkit-scrollbar{
           width: 0;
           height: 0;
           display: none;
        }

        ion-segment-button.segment-button{
            display: inline-flex;
            min-width: 100px;
            width:auto !important;
            height: 4rem !important;
            border: none !important;
            overflow: unset;
            margin: 0 9px;
            color: black !important;
            font-weight: 400;
            letter-spacing: .5px;
            opacity: .6;
            &.segment-activated {
                opacity: 1;
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    height: 4px;
                    width: 80%;
                    margin: auto;
                    left: 0;
                    right: 0;
                    display: block;
                    background: #FDB813;
                }
            }
            
        }
    }


    }
   

